/* css login page */
.login{
  display: block;
}

.login .title {
  font-size: 40px;
  font-weight: 300;
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

form.login {
  margin: 100px auto;
  width: 300px;
}

form.login input {
  width: 100%;
  display: block;
  margin: 20px 0;
}

form.login button[type="submit"] {
  display: block;
  width: 50%;
  margin: 30px auto;
}


/* css main part */
.main-part {
  display: none;
}

.main-part-header{
  padding-top: 40px;
}

#main-part-header-username{
  margin-left: 40px;
}

.quote-button {
  display: flex;
  float: right;
  margin-right: 40px;
  font-size: 30px;
  align-items: center;
  cursor: pointer;
  color: #2e4e6a;
}

.quote-button:hover{
  color: green;
}


.product-search-part {
  margin: 35px 0px 0px 0px;
  padding-left: 220px;
  padding-right: 120px;
}

.product-search-filter{
  font-size: 20px;
}

/* .product-search-wrapper .input input {

} */

.products {
  margin-top: 50px;
  /* padding-left: 150px; */
  padding-right: 150px;
}

#filter-sidebar {
  float: left;
  max-width: 240px;
}

.filter-cards {
  margin-left: 15px;
  border-style: None;
  padding: 0 20px 15px 20px;
}

.card-header{
  font-weight: bold;
}

.checkbox {
  height: 30px;
}

.checkbox .check{
  height: 15px;
  width: 15px;
}

.product-list-area {
  margin-left: 250px;
}

.product_item{
  border: solid;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.product_item:hover {
  background-color: lightgray;
}

.part-close-button {
  font-size: 27px;
  margin-top: 30px;
  margin-right: 50px;
  float: right;
  cursor: pointer;
  color: gray;
}

/* quote part */
.quote-part {
  display: none;
}

.quote-table {
  margin-top: 50px;
  padding: 0px 50px 0px;
}

.quote-quantity-input {
  width: 4em;
  border: 0;
}

.quote-price-input {
  border: 0;
}

.quote-price-input::-webkit-out-spin-button,
.quote-price-input::-webkit-inner-spin-button {
  -webkit-appearance: None;
}

.quote-table-download {
  display: inline-flex;
  padding: 10px 26px 10px 25px;
  font-size: 15px;
  background-color: green;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}

.quote-table-download:hover {
  background-color: #0e620e;
}

.quote-table-download .mif-printer{
  font-size: 25px;
  width: 30px;
  color: white;
}

.checkbox {
  display: -webkit-inline-box;
}
